@media screen and (min-width: 1200px) {

/*LAS QUE ESTABAN APLICADAS A xl*/


.col-xl-7 {
	width: 14%;
}

.col-xl-5 {
	width: 20%
}
ads
.col-xl-10{
	width: 83.33333333%;
}

.hidden-xl{
	display: none;
}

.home-bottom-box p {
	margin-top: 5%;
}

#ul-nav-principal {
		padding-left:15px;
	}


/*******REMATES*******/
.container-modalidad {
    margin-left: 10px;
	}




	#inner-header{
		height:2.5em !important;
	}


/*FIN DE LAS QUE ESTABAN APLICADAS A XL*/


.col-lg-2-5 {
	width: 20%;
}

.hidden-lg-2{
	display: none;
}

.home-bottom-box p {
	margin-top: 5%;
}


.col-lg-2-6{
	width:16%;
}


.col-lg-2-7 {
	width: 14.28%;
}


.header-palabras-menu{
	padding-left:20px;
}

.container-modalidad {
    margin-left: 10px;
	}

#ul-nav-principal {
		padding-left:15px;
	}

	#inner-header{
		height:2.5em !important;
	}


/*HOME*/

#home .home-box img{
	width: 40%;
}

#home .home-upper-box img:nth-child(1) {
    width: 20em;
}

#home .home-upper-box img:nth-child(2) {
    width: 25em;
}

#home .home-bottom-box p {
    font-size: 4em;
	}

	/*FIN HOME*/

	/*PRODUCIR*/
	.titulo-mobile > p {
	    padding: 20px 20px;
	    font-size: 3em;
	}

	.titulo-mobile {

		z-index: 999999;
	}

	/*FIN PRODUCIR*/

/*HOY*/
.maxbox-noticias h4 {
	margin-top: 0%;
}


.maxbox-noticias .container-noticias-sector > img {
	width: 40%;
}

.img-noticias-hoy{
  margin-top: 5%;
}

.maxboxes-inner {
    padding: 150px 25px;
}


.maxbox-clima h4 {
    font-size: 4em;

}

.box-mercado-clima-noticias .small-boxes-mercado > img {
    width: 50%;
}

.maxbox-clima h3 {
    font-size: 5em;
}

.maxbox-clima .small-boxes-mercado p:first-child {
    font-size: 5em;
}

.clima-pronostico >.small-boxes-mercado p:nth-child(2) {
    font-size: 3em;
}

.maxbox-ampliar > h5 {
    font-size: 5em;

}
.maxbox-noticias h4 {
    font-size: 5em;

}

.h3-merc {
    font-size: 5em;
}

.maxbox-mercados p {
    font-size: 4em;
}


/*FIN HOY*/

/*SECCION NOTICIAS*/

.box-noticias h1, .noticia-columna h1 {
    font-size: 3em;
}

.container-texto-noticias h2 {
    font-size: 4.5em;
}

.container-texto-noticias > p {
    font-size: 3em;
		min-height:450px;
	}

	.container-texto-noticias {
	    padding: 20px 30px;
	    margin-top: 20px;
	}

	.box-noticias .container-texto-noticias div p, .noticia-columna .container-texto-noticias div p {
    padding-right: 15px;
    font-size:3em;
}

/*SECCION NOTICIAS INTERIOR*/

 .container-inside-noticia h1{
	 font-size: 5em;
 }

 .container-inside-noticia .bajada {
    font-size: 3em;
	}

	.container-inside-noticia .fuente , .container-inside-noticia .cuerpo p, .container-inside-noticia .categoria, .container-inside-noticia .fecha-not-inner{
    font-size: 2em;
}

.container-inside-noticia .cuerpo h2 {

    font-size: 5em;
}
/*FIN SECCION NOTICIAS*/

/*SECCION clima*/
.box-clima-title{
	height: auto !important;
}

.box-clima select {
    font-size: 2em;
}
.box-clima .fecha-descripcion, #lluvias-temperaturas-h1 {

    font-size:4em;
	}

	.box-clima .small-boxes-mercado > img {
	    width: 50%;
	}

	.clima-datos, .box-clima > div:nth-child(2) .small-boxes-mercado p:nth-child(4), .mapa-clima h3, .form-clima-mapa p{
    font-size: 2em;
	}

	.box-clima h4 {
	    font-size: 3.5em;
	}

	.box-clima .info-clima > p {
    font-size: 2.5em;
}

.box-clima .inner-data, .small-boxes-mercado {
    padding:40px;
}

.box-clima .box-clima-inner {
    padding: 40px 30px;

}

.btn-mapas {
	width: 100%;
}

#lluvias-temperaturas-h1 {
	width: 300px;
}

.mapa-clima h3 {
padding: 10px;
}

.p-button-clima{
	font-size: 2em;
}

.title-lluvia{
	font-size: 5em;
}

/*FIN CLIMA*/

/*MERCADOS*/
.container-items-mercados h3 {
	 font-size: 5em !important;
}

.btn, .btn-indicadores{
	font-size: 3em;
	width: 260px;
}


.columna-indicadores p, .columna-ganado p, .columna-granos p{
font-size: 2em;
}

.table-mercado-items div p, .box-mercado .table-mercado-items .moneda-mercados {
	font-size: 1.7em;
}

/*FIN MERCADOS*/


/*ESTE MES*/

.container-noticias-sector {
    margin-top: 15%;
	}

.maxboxes-inner-estemes h2{
	font-size: 5em;
}



/*FIN ESTE MES*/

/*SANIDAD & GENETICA & MANEJO*/

.square > img {
     max-width:none;
}

.box-producir-2 p, .name-genetica  {
    font-size: 4em;
}


/*FIN SANIDAD & MANEJO & GENETICA*/


/*RED VETERINARIA*/


.red-form > div > form > select {
    font-size: 4em;
}

.map-box {
    box-shadow: none;
}

.img-static-vet{
	width: 70%;
}
/*FIN RED VETERINARIA*/

/*BIENESTAR ANIMAL*/

.title-producir-inside {
    font-size:4em;
}

.general-container-producir p, .general-container-producir ul {
    font-size:2em;
}

.general-container-producir h2 {
    font-size:3em;
}
 /*FIN BIENESTAR ANIMAL*/


 /*ENFERMEDADES*/

 .enfermedades-box p, #enfermedades-more{
    font-size: 5em;
}

/*.planes:hover .planes-box {
    zoom: 1;
    margin-top: -8vh;
}*/

/*FIN ENFERMEDADES*/
/*PLANES SANITARIOS*/


.planes-box p {

    font-size: 5em;
  width: auto;
}

/*FIN PLANES SANITARIOS*/

/*RETIRO PRODUCTOS - SLIDER DE PRODUCTOS DE REMATES EN VARIOS LADOS*/
.title-remates {
    height: 70px;
}

#retiro-producto-p-1, #retiro-producto-p-2, #retiro-producto-p-3 {
    font-size: 2em;
}

.glyphicon {
	color: white;
}

/*FIN RETIRO PRODUCTOS*/


/*LABORATORIOS DE DIAGNOSTICO*/

.lab-box p{
	font-size: 3em;
}


/*FIN LABORATORIO DE DIAGNOSTICO*/

/*PROTOCOLO DE REPRODUCCION	*/

.b-prot-at {
    top: .9% !important;
    left: 5px;;
    border: none;
}
.b-prot-ad {
    top: 7% !important;
}

 /*FIN PROTOCOLO DE REPRODUCCION*/

 /*ESTADO CORPORAL*/

.p-estado-2{
	font-size: 5em;
}

.p-estado-1{
	font-size: 2em;
}

/*FIN ESTADO CORPORAL*/

















/*CIERRE DE LLLAVE GENERALES*/
}
